# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp
*.swo

# Node (por si después agregamos build)
node_modules/
dist/
.cache/
.parcel-cache/

# Logs
*.log
npm-debug.log*

# Env
.env
.env.local
.env.*.local

# Cloudflare local
.wrangler/

.dev.vars*
!.dev.vars.example
!.env.example
